Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
doc/~*.pptx
packages/
build/
!tools/SolutionPackager.exe
!tools/makecert.exe
!tools/pvk2pfx.exe
!tools/CertMgr.Exe
!tools/CrmSvcUtil.exe
*.zip
.fake
testBuild/
default.config
src/JAMSIntegration/Migration/local.dtsConfig
src/JAMS/CRM.WebResources/webresources/dispatch/bower_components
.vs
appsettings.json
Properties
